.hotel {
    width: 300px;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    margin-right: 15px;
    margin-bottom: 15px;

    img {
        width: 100%;
    }

    &__info {
        padding:20px;

        .hotel-name {
            font-size: 1.6rem;
        }

    }
}

.main-container {
    
    display: flex;
    flex-wrap:wrap;
    min-height: 600px;
}