.logotype {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 2rem;
    

}


.contact-us-image img {
    width:30px;
    vertical-align: middle;
    
}

.nav-logo {
    float: left;
}

.nav-more {
    float: right;
    margin-right:30px;
    
}

.topbar {
    margin-bottom: 20px;
    height:30px;
    padding:20px;
}

.login-button {
    background-color: rgba(206, 139, 14, 0.74);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:0 20px 0 20px;
    cursor: pointer;
    
}