.logotype {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 2rem;
    

}
.sticky {
  position: fixed;
  top: 0;
  width: 80%;
}

.sticky + .content {
  padding-top:60px;
}

nav {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background-color: white;
    
   
    
    
  
    .app-logo {
      font-weight: bold;
      font-size: 2rem;
      margin-right: 30px;
    }
  
    .button.secondary,
    .nav-link {
      text-decoration: none;
      color: #666;
      font-size: 1.2rem;
      transition: opacity 0.2s ease;
      vertical-align: middle;
      height:50px;
      line-height: 50px;
      
      
  
      &:hover {
        opacity: 0.6;
      }
    }
  
    li {
      margin: 0 10px;
    }
  
    .right {
      margin-left: auto;
      display: flex;
    }
  
    .button {
      background-color: transparent;
      border: none;
      color: #666;
      font-size: 1rem;
      margin: 0 5px;
  
      &.primary {
        background-color: #f15f3d;
        color: white;
        width: 150px;
        height: 50px;
        font-weight: bold;
        padding: 15px 30px;
        border-radius: 20px;
        transition: all 0.1s ease;
  
        &.yellow {
          background-color: rgb(255, 208, 0);
          color: #333;
        }
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  