.App {
  background-color: white;
  
  width:80%;
  border-radius: 30px;
  margin: 100px auto;
}
.Wrapper {
  background-color: whitesmoke;
  padding: 30px;
  width:90%;
  border-radius: 30px;
  margin: 50px auto;
}